* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
#header-nav {
	background-color: darkgrey;
	border-radius: 0;
	border: 0;
	position: relative;
}
.navbar-brand {
	padding-top: 15px;
}
.navbar-brand h1 {
	font-family: 'Arial', sans-serif;
	color: black;
	font-size: 1.5em;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 0;
	line-height: .75;
	position: absolute;
	top: 15px;
	left: 25px;
}
.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration: none;
}
#nav-list {
	margin-top: 0px;
	margin-bottom: 0;
	background-color: lightgoldenrodyellow;
	text-align: center;
}
#nav-list li {
	color: black;
	text-align: center;
	font-weight: bold;
	height: 100%;
}
#nav-list a:hover {
	color: lightcoral;
	background-color: transparent;
	text-decoration: blink;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
	border: 1px, solid darkgrey;
}
.navbar-header button.navbar-toggle {
	clear: both;
	margin-top: -43px;
}
hr {
	border: 1px solid black;
}
#main-content {
	width: 98%;
}
#chicken {
	width: 100%;
	height: 1000px;
	padding: 10px;
	margin-bottom: 15px;
	background-color: darkgray;
	overflow: hidden;
}
#beef {
	width: 100%;
	height: 1000px;
	padding: 10;
	margin-bottom: 15px;
	background-color: darkgray;
	overflow: hidden;
}
#sushi {
	width: 100%;
	height: 1000px;
	padding: 10px;
	margin-bottom: 15px;
	background-color: darkgray;
	overflow: hidden;
}
#chicken h3 {
	font-weight: bolder;
	font-size: 2em;
	color: lightblue;
}
#beef h3 {
	font-weight: bolder;
	font-size: 2em;
	color: lightblue;
}
#sushi h3 {
	font-weight: bolder;
	font-size: 2em;
	color: lightblue;
}
#chicken p {
	font-weight: bold;
	font-family: 'Times New Roman', serif;
	font-size: 1.175em;
}
#beef p {
	font-weight: bold;
	font-family: 'Times New Roman', serif;
	font-size: 1.175em;
}
#sushi p {
	font-weight: bold;
	font-family: 'Times New Roman', serif;
	font-size: 1.175em;
}
.container h2 {
	font-weight: bold;
}

@media (max-width: 767px) {
	#collapsable-nav a {
		font-size: 2em;
	}
}