.row{
        width: 100%;
    }
h1{
    text-align: center;
}
.container{
    border: 1px solid black;
   padding: 4px;
    background-color: grey;
    margin: 33px;
    position: relative;

}
p{
    padding: 3px;
}
  span{ 
      border: 1px solid black;
      width:150px;
      background-color: blue;
      text-align:center;
      font-size: 20px;
      font-weight: bold;
      color: white;
      float: right; top: 0; right: 0; margin: 0;
    
      position: absolute;
      
 }
 #h1{
    background-color: blue;
 }
 #h2{
    background-color: pink;
 }
 #h3{
    background-color: blueviolet;
 }
 @media(min-width:992px){
    .large{
        float:left;
        width:33.3%;
        
    }
 }
 @media(min-width:768px) and (max-width:991px){
     .medium{
        width:50% ;
        float:left;
     }
     .medium2
     {width:100%    ;float: left;
     }
 }
@media(max-width:767){
    .small{
        width:100%;
        float:left;
    }
.row{
        width: 100%;
    }
h1{
    text-align: center;
}
.container{
    border: 1px solid black;
   padding: 4px;
    background-color: grey;
    margin: 33px;
    position: relative;

}
p{
    padding: 3px;
}
  span{ 
      border: 1px solid black;
      width:150px;
      background-color: blue;
      text-align:center;
      font-size: 20px;
      font-weight: bold;
      color: white;
      float: right; top: 0; right: 0; margin: 0;
    
      position: absolute;
      
 }
 #h1{
    background-color: blue;
 }
 #h2{
    background-color: pink;
 }
 #h3{
    background-color: blueviolet;
 }
 @media(min-width:992px){
    .large{
        float:left;
        width:33.3%;
        
    }
 }
 @media(min-width:768px) and (max-width:991px){
     .medium{
        width:50% ;
        float:left;
     }
     .medium2
     {width:100%    ;float: left;
     }
 }
@media(max-width:767){
    .small{
        width:100%;
        float:left;
    }
}